/* header.module.css */
.header {
    background-color: #4CAF50;
    padding: 20px 0;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.mainNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.mainNav ul li {
    margin-left: 20px;
}

.mainNav ul li button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: none; /* Rendre le fond transparent */
    border: none; /* Enlever la bordure */
    margin: 0; /* Enlever les marges */
    padding: 0; /* Enlever le padding */
    cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}





.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;

}






